.container {
    display: flex;
    flex-direction: column;
}

.box {
    padding: 20px;
    margin: 10px;
    border: 1px sold black;
    background-color: #84A59D;
    box-sizing: content-box;
}

.special {
    margin: 5px;
    background-color: #F6BD60;
}

.box.special {
    border: 4px dotted #5D2A42;
}

.flex-container {
    display: flex;
}

.flex-item {
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    background-color: #016FB9;
    color: white;
}
